<!DOCTYPE html>
<html>
    <head>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    </head>
    <body ng-app='todoApp'>
        <div class='container' ng-controller='todoCtrl'>
            <div class='row' style='margin-bottom:10px'>
                <div class='col-md-6 col-md-offset-3'>
                    <h2>To Do List</h2>
                </div>
            </div>
            <div class='row' style='margin-bottom:10px'>
                <div class='col-md-4'>
                    <input ng-model='todoItem' class='form-control' placeholder="add todo">
                    <br/>
                     <button ng-click='add()'>Add</button>
                </div>
            </div>
            <div class='row' style='margin-bottom:10px'>
                <div class='col-md-4'>
                    <ul id="sortable" class="list-unstyled">
                        <li ng-repeat='item in listItems track by $index' class="ui-state-default">
                            <input type="checkbox" value="" ng-click='check($index)'/>{{item}}</label>
                        </li>
                    </ul>
                </div>    
            </div>    
        
        </div>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src='Todo.js'></script>
    </body>
    
</html>