.jumbotron{
    background-color:skyblue; 
    height:200px
}

#Submit{
    margin-top: 20px;
}

#renderedImage{
    width: 150px;
    height: 150px;
}

#imageContainer{
    height: 400px;
    background-color: coral;
}


@media (max-width:480px){
    .jumbotron{
        background-color:skyblue; 
        height:150px
    }
    
    #imageContainer{
        height: 300px;
        width: 300px;
        background-color: coral;
    }
    
    #Submit{
        margin-top: 10px;
    }

    #renderedImage{
        width: 100px;
        height: 100px;
    }
    #comment{
        margin-top:10px;
        height:20px;
    }
    
    #photolist{
        margin-top: 10px;
    }
}