
    <div class='row'>
        <div class='col-sm-4 col-sm-offset-1'>
            <div class='jumbotron' id='bycity'>
                <label id='searchLabel' style='margin-left:20px'>Search by zip code:</label>
                <br/>
                <input id='city' placeholder='city name' ng-model='cityZip' style='margin-left:20px'>
                  <button class='btn btn-info' ng-click="getMapByZip(cityZip)">Get Weather..!</button>
            </div>
        </div>
        <div class='col-sm-6 col-sm-offset-1.5'>
            <h4>{{weatherByZip.$$state.value.name}}</h4>
            <br/>
            <iframe ng-src="{{map}}" width="640" height="480" ></iframe>
        </div>
    </div>